.navegacion{
    display: flex;
    width: 100%;
    height: 60px;
    padding-top: 15px;
    justify-content: space-around;
}
.btn-inicio{
    width: 25%;
    background: #f4bf1e;
    text-align: center;
    line-height: 60px;
}
.btn-inicio a:hover{
    background: #e4b21a;
}
.btn-inicio a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}
