.Home{
    width: 100%;
    min-height: 50vh;
    padding-top: 13px;
}
.contan-home-comp{
    width: 80%;
    margin: auto;
}
.etiq-home{
    width: 100%;
    height: 155px;
    background: #f00;
    color: #fff;
    text-align: center;
   line-height: 50px;
   margin-top: 20px;
   padding-top: 15px;
}
.nav-home-produc{
    width: 100%;
}
.nav-home-produc ul{
    padding: 0;
}
.nav-home-produc li{
    font-size: 1.5em;
    height: 25px;
    list-style: none;
    margin-top: 10px;
   color: #bbb;
}
.nav-home-produc li:hover{
    color: #000;
}
.cont-productos{
    width: 100%;
    min-height: 50vh;
    margin-top: 40px;
}