.barra-buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
.barra-buscar input[type=text]{
    width: 70%;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding-left: 15px;
    outline: none;
}
.barra-buscar button{
    color: #fff;
    height: 46px;
    background:#f4bf1e;
    border: none;
    outline: none;
}
.barra-buscar button:hover{
    background: #e4b21a;
}
.barra-buscar input::placeholder{
    color:#9c9b9b;
}
.barra-buscar input[type=text]:focus{
    box-shadow:0 1px 1px rgba(238,238,238,.075) inset,0 0 8px rgba(238,238,238,.6)
}
