.App{
  width: 100%;
  min-height: 100vh;
}
main{
  width: 90%;
  box-sizing: content-box;
  min-height: 100vh;
  background: #fff;
  margin: auto;
  margin-top: 20px;
}
.nombre-titulo{
  width: 100%;
  min-height: auto;
  text-align: center;
}
.nombre-titulo h1{
  font-size: 50px;
  margin: 0;
  padding: 60px;
}
.carrtio-boton{
  width: 100%;
  height:58px;
}
.carrtio-boton a{
  display: block;
  width: 80%;
  height: 100%;
  margin: auto;
  background: #bbb;
  text-decoration: none;
  color: #fffd;
  text-align: center;
  line-height: 58px;
}
.carrtio-boton a:hover{
  background: #a6a5a5;
}
footer{
  width: 100%;
  min-height: 50vh;
}